---
import { AstroSeo } from '@astrolib/seo';
import Analytics from '@vercel/analytics/astro';
import ProjectsPage from '../../components/portfolio/ProjectsPage';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="Abdullah Sultan" />

    <AstroSeo
      title="Projects | Abdullah Sultan"
      description="Student builder based in Riyadh, Saudi Arabia."
      canonical="https://github.com/amsultan2010"
      openGraph={{
        url: 'https://github.com/amsultan2010',
        title: 'Projects | Abdullah Sultan',
        description: 'Student builder based in Riyadh, Saudi Arabia.',
        site_name: 'Abdullah Sultan',
      }}
    />

    <link rel="icon" type="image/png" href="/icons/abdullah-favicon.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/abdullah-apple-touch.png" />
    <meta name="theme-color" content="#242424" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        background-color: #000000;
        overflow-x: hidden;
        max-width: 100vw;
        min-height: 100vh;
      }

      body {
        margin: 0;
        min-width: 320px;
        background: transparent;
        overflow-x: hidden;
        min-height: 100vh;
        width: 100%;
      }

      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }
    </style>
  </head>
  <body>
    <ProjectsPage client:only="react" />
    <Analytics />
  </body>
</html>
