---
import { AstroSeo } from '@astrolib/seo';
import WritingPostPage from '../../components/portfolio/WritingPostPage';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="author" content="Ronniel Gandhe" />

    <AstroSeo
      title="Prestige Is a Strong Drug | Ronniel Gandhe"
      description="What dropping out of one of Canada's best programs taught me about borrowed momentum and real growth."
      canonical="https://ronnielgandhe.com/writing/prestige-is-a-strong-drug"
      openGraph={{
        url: 'https://ronnielgandhe.com/writing/prestige-is-a-strong-drug',
        title: 'Prestige Is a Strong Drug | Ronniel Gandhe',
        description: "What dropping out of one of Canada's best programs taught me about borrowed momentum and real growth.",
        site_name: 'Ronniel Gandhe',
      }}
    />

    <link rel="icon" type="image/png" href="/icons/baseheadlogo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/baseheadlogo.png" />
    <meta name="theme-color" content="#242424" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <style is:global>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      html {
        background-color: #000000;
        overflow-x: hidden;
        max-width: 100vw;
        min-height: 100vh;
      }

      body {
        margin: 0;
        min-width: 320px;
        background: transparent;
        overflow-x: hidden;
        min-height: 100vh;
        width: 100%;
      }

      ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
      }

      canvas {
        display: block !important;
        max-width: 100% !important;
        max-height: 100% !important;
      }

      a {
        color: inherit;
        text-decoration: inherit;
      }
    </style>
  </head>
  <body>
    <WritingPostPage client:only="react" slug="prestige-is-a-strong-drug" />
  </body>
</html>
